/* universal css */
:root {
  --yellow: #faca28;
  --pink: #fb0d7f;
  --darkbg: #17181b;
  --page: #f6f6f6;
}

.menutext {
  color: #f6f6f6;
}

#save {
  width: 30px;
  height: auto;
}

#rms {
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-right: 0vw;
  align-self: flex-end;
  
}

#savesmall {
  width: 18px;
  height: auto;
}

#author {
  color: var(--pink);
  font-size: large;
  margin-top: 0px;
  padding-top: 0px;
}

.textlogo {
  display: flex; 
  flex-direction:column; 
  align-items: center;
  justify-content: space-between;
  gap: 30vh;
  margin-bottom: 10vh;
  font-size: larger;
}

.menumobile {
  text-align: center;
  gap: 2vh;
}

#welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20vh;
}

.contact {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

#door2 {
  display: flex;
  flex-direction: row-reverse;
}

/* animation css */

@keyframes hideshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#dol {
  height: 60%;
  width: 60%;
  margin-left: 3%;
  margin-top: 30vh;
}

.dolanimation {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 3px;
  stroke-dasharray: 7000px;
  stroke-dashoffset: 7000px;
  animation: type 3s 1 forwards ease-in;
}
.dolanimation1 {
  fill: #faca28;
  fill-opacity: 0;
  stroke: #faca28;
  stroke-width: 3px;
  stroke-dasharray: 7000px;
  stroke-dashoffset: 7000px;
  animation: type 3s 1 forwards ease-in;
}

@keyframes type {
  0% {
    stroke-dashoffset: 7000px;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0px;
    fill-opacity: 1;
  }
}

/*back to universal css*/

#index {
  background-color: var(--darkbg);
  color: #f6f6f6;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0%;
  background-color: var(--page);
  font-family: "Inter";
}

#browse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#onpage {
  color: var(--pink);
}

a {
  text-decoration: none;
  color: black;
}

#navdesktop,
#navmobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#desc {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}

#door {
  display: flex;
  margin-top: 5%;
  margin-bottom: 3%;
}

#doorbox {
  display: flex;
  flex-direction: column;
}

#submit {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 3vh;
  margin-top: 5vh;
}

#footer {
  background-color: var(--darkbg);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

#landing {
  height: 100%;
  width: 100vw;
  background-image: url(..//images/bg.png);
  background-size: cover;
  color: white;
}

#doorpage {
  display: flex;
}

#recent {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#insta {
  width: 3vw;
  height: auto;
  margin-right: 5vw;
}


















/* css for desktop */

@media only screen and (min-width: 1001px) {
  #navmobile,
  #welcomemobile,
  #burgermenu,
  #descmobile,
  #mapmobile {
    display: none;
  }

  body {
    font-size: 17px;
  }

  #navdesktop {
    padding-left: 2%;
    padding-right: 1%;
  }
  #rms2 {
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: row-reverse;
    align-self: flex-start;
  }
  #landing {
    height: 100vh;
  }

  #submit,
  #desc {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  img {
    width: 34%;
    height: 34%;
  }
  .idk {
    display: inline-flex;
    gap: 30px;
  }
  #button {
    background-color: white;
    color: black;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button2 {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    text-align: center;
    width: 20vw;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button3 {
    background-color: var(--pink);
    color: black;
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button4 {
    background-color: white;
    color: black;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #doorbox {
    gap: 12vh;
  }


  #button5 {
    background-color: var(--pink);
    color: black;
    border-color: #17181b;
    font-size: x-large;
    font-weight: bold;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #doorpic {
    height: 80vh;
    width: auto;
  }

  #doordiv {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
    gap: 4vh;
    margin-bottom: 6vh;
  }

  #doorpage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }

  #anotherdoor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menumobile {
    visibility: hidden;
  }

  #door,
  #door2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
    width: 80%;
  }

  #recent {
    margin-top: 15vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }
}


















/* css for tablets */

@media only screen and (min-width: 506px) and (max-width: 1000px) {
  #navmobile,
  #welcomemobile,
  #burgermenu,
  #descmobile,
  #mapmobile {
    display: none;
  }

  body {
    font-size: 16px;
  }

  #navdesktop {
    padding-left: 2%;
    padding-right: 1%;
  }

  #landing {
    height: 100vh;
  }

  #submit,
  #desc {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  img{
    width: 40vw;
  }
  .idk {
    display: inline-flex;
    gap: 10px;
  }
  #button {
    background-color: white;
    color: black;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #rms2 {
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: row-reverse;
    align-self: flex-start;
  }

  #button2 {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    text-align: center;
    width: 20vw;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button3 {
    background-color: var(--pink);
    color: black;
    padding: 10px;
    text-align: center;
    width: 30%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button4 {
    background-color: white;
    color: black;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button5 {
    background-color: var(--pink);
    color: black;
    border-color: #17181b;
    width: 30%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #doorpic {
    width: 50%;
  }

  #doordiv {
    display: flex;
  }

  #doorpage {
    display: flex;
  }

  #doorbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  #anotherdoor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menumobile {
    visibility: hidden;
  }
  #door,
  #door2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
  }

  #recent {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }
}



















/* css for mobile */

@media only screen and (max-width: 505px) and (min-width: 301px) {
  #navdesktop,
  #welcomedesktop,
  #burgermenu,
  #descdesktop,
  .mapdesktop {
    display: none;
  }

  #dol {
    max-width: 90%;
  }

  body {
    font-size: 16px;
  }

  #navmobile {
    padding-left: 5%;
    margin-bottom: 0%;
    margin-right: 0%;
  }

  img {
    width: 45%;
    height: 45%;
  }

  #button {
    background-color: white;
    color: black;
    width: 35%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button2 {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    text-align: center;
    width: 75%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #rms2 {
    display: flex;
    gap: 2.5vw;
    align-items: center;
    flex-direction: row-reverse;
    align-self: flex-start;
  }
  
  #rms {
    gap: 3vw;
  }

  #button3 {
    background-color: var(--pink);
    color: black;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }
  #button4 {
    background-color: white;
    color: black;
    width: 50%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button5 {
    background-color: var(--pink);
    color: black;
    width: 35%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #submit,
  #desc {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
  }

  #landing {
    height: 90vh;
  }

  #burgermenu {
    background-color: var(--darkbg);
    position: fixed;
    z-index: 100;
    margin-top: 0%;
    margin-left: 0%;
    top: 0rem;
    right: 0rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #doorpic {
    width: 85%;
    margin-top: 15%;
  }

  #doordiv {
    margin-left: 12%;
  }

  #dol {
    height: auto;
    width: 100vw;
    margin-left: 3%;
    margin-top: 50vh;
  }

  #door,
  #door2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
  }

  #recent {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }

  #burgermenu {
    visibility: hidden;
  }

  #save {
    width: auto;
    height: 30px;
  }
}























/* css for small mobile */

@media only screen and (max-width: 300px) {
  #navdesktop,
  #welcomedesktop,
  #burgermenu,
  #descdesktop,
  .mapdesktop {
    display: none;
  }

  #dol {
    max-width: 90%;
  }

  body {
    font-size: 13px;
  }

  #navmobile {
    padding-left: 5%;
    margin-bottom: 0%;
    margin-right: 0%;
  }

  img {
    width: 90%;
    height: 90%;
  }

  #button {
    background-color: white;
    color: black;
    width: 35%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button2 {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button3 {
    background-color: var(--pink);
    color: black;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }
  #button4 {
    background-color: white;
    color: black;
    width: 60%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #button5 {
    background-color: var(--pink);
    color: black;
    width: 60%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    border-style: solid;
    border-width: 2px;
  }

  #submit,
  #desc {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
  }

  #landing {
    height: 90vh;
  }

  #burgermenu {
    background-color: var(--darkbg);
    position: fixed;
    z-index: 100;
    margin-top: 0%;
    margin-left: 0%;
    top: 0rem;
    right: 0rem;
    width: 100vw;
    height: 100vh;
  }

  #doorpic {
    width: 85%;
    margin-top: 15%;
  }

  #doordiv {
    margin-left: 12%;
  }

  #dol {
    height: auto;
    width: 100vw;
    margin-left: 3%;
    margin-top: 60vh;
  }

  #door,
  #door2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
  }

#burgermenu {
    visibility: hidden;
  }
}
